/* src/app/chatbot/chatbot.component.scss */
/*.chatbot-container {
    width: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    .user { text-align: right; }
    .bot { text-align: left; }
    .message-text {
      padding: 10px;
      margin: 5px;
      border-radius: 8px;
      background-color: #e0e0e0;
    }
  }
*/

// Chatbot toggler
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: #5350c4;
  transition: all 0.2s ease;
}

#chatbot-toggler mat-icon {
  color: #fff;
  position: relative;
}

// Chatbot popup
.chatbot-popup {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  opacity: 0;
  transform: scale(0.2);
  transform-origin: bottom right;
  pointer-events: none;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;  
}

.chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}


// chatbot header
.chat-header {
  display: flex;   
  align-items: center;
  background: #5350c4;
  padding: 15px 22px;
  justify-content: space-between;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;   
 }

 .header-info .chatbot-logo {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #5350c4;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;   
}

.header-info .logo-text {
  display: contents;
  color: #fff;
  font-size: 1.31rem;
  font-weight: 500;
  margin-bottom: auto;
}

.chat-header #close-chatbot {
  border: none;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 1.9rem;
  margin-right: -10px;
  padding-top: 2px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
  background: #3d39ac;    
}

// chatbot body
.chat-body {
  font-size: large;
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  height: 460px;
  margin-bottom: 82px;
  overflow-y: auto;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #ccccf5 transparent;
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;    
}

.chat-body .bot-message .bot-avatar {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #fff;
  align-self: flex-end;
  flex-shrink: 0;
  margin-bottom: 2px;
  background: #5350c4;
  border-radius: 50%;  
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;        
}

.chat-body .bot-message .message-text {
  background: #f2f2ff;
  border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text {
  color: #fff;
  background: #5350c4;
  border-radius: 13px 13px 3px 13px;
}

// chatbot footer
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  background: #fff;
  padding: 15px 22px 20px;  
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #cccce5;
}

.chat-footer .chat-form:focus-within {
  outline: 2px solid #5350c4;
}

.chat-form .message-input {
  border: none;
  outline: none;
  height: 21px;
  width: 100%;
  resize: none;
  font-size: 0.95rem;
  padding: 14px 0 13px 18px;
  border-radius: inherit;
}

.chat-form .chat-controls {
  display: flex;
  height: 47px;
  gap: 3px;
  align-items: center;
  align-self: flex-end;
  padding-right: 6px;
}

.chat-form .chat-controls button {
  height: 35px;
  width: 35px;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  color: #706db0;
  background: none;
  border-radius: 50%;
  transition: 0.2s ease;    
}

.chat-form .chat-controls #send-message {
  color: #fff;
  display: none;
  background: #5350c4;

}

.chat-form .message-input:valid~ .chat-controls #send-message {
  display: block;
}

.chat-form .chat-controls #send-message:hover {
  background: #3d39ac;
}

.chat-form .chat-controls button:hover {
  background: #f1f1ff;
}